:root {
    /* Custom Shadow CSS Properties*/
    --wf--moz-osx-font-smoothing: revert;
    -moz-osx-font-smoothing: var(--wf--moz-osx-font-smoothing) !important;
    --wf--webkit-font-smoothing: revert;
    -webkit-font-smoothing: var(--wf--webkit-font-smoothing) !important;
    --wf-animation-delay: revert;
    animation-delay: var(--wf-animation-delay) !important;
    --wf-animation-direction: revert;
    animation-direction: var(--wf-animation-direction) !important;
    --wf-animation-duration: revert;
    animation-duration: var(--wf-animation-duration) !important;
    --wf-animation-fill-mode: revert;
    animation-fill-mode: var(--wf-animation-fill-mode) !important;
    --wf-animation-iteration-count: revert;
    animation-iteration-count: var(--wf-animation-iteration-count) !important;
    --wf-animation-name: revert;
    animation-name: var(--wf-animation-name) !important;
    --wf-animation-play-state: revert;
    animation-play-state: var(--wf-animation-play-state) !important;
    --wf-animation-range-end: revert;
    animation-range-end: var(--wf-animation-range-end) !important;
    --wf-animation-range-start: revert;
    animation-range-start: var(--wf-animation-range-start) !important;
    --wf-animation-timeline: revert;
    animation-timeline: var(--wf-animation-timeline) !important;
    --wf-animation-timing-function: revert;
    animation-timing-function: var(--wf-animation-timing-function) !important;
    --wf-background-attachment: revert;
    background-attachment: var(--wf-background-attachment) !important;
    --wf-background-blend-mode: revert;
    background-blend-mode: var(--wf-background-blend-mode) !important;
    --wf-background-clip: revert;
    background-clip: var(--wf-background-clip) !important;
    --wf-background-color: revert;
    background-color: var(--wf-background-color) !important;
    --wf-background-image: revert;
    background-image: var(--wf-background-image) !important;
    --wf-background-origin: revert;
    background-origin: var(--wf-background-origin) !important;
    --wf-background-position-x: revert;
    background-position-x: var(--wf-background-position-x) !important;
    --wf-background-position-y: revert;
    background-position-y: var(--wf-background-position-y) !important;
    --wf-background-repeat-x: revert;
    background-repeat-x: var(--wf-background-repeat-x) !important;
    --wf-background-repeat-y: revert;
    background-repeat-y: var(--wf-background-repeat-y) !important;
    --wf-background-size: revert;
    background-size: var(--wf-background-size) !important;
    --wf-border-bottom-color: revert;
    border-bottom-color: var(--wf-border-bottom-color) !important;
    --wf-border-bottom-left-radius: revert;
    border-bottom-left-radius: var(--wf-border-bottom-left-radius) !important;
    --wf-border-bottom-right-radius: revert;
    border-bottom-right-radius: var(--wf-border-bottom-right-radius) !important;
    --wf-border-bottom-style: revert;
    border-bottom-style: var(--wf-border-bottom-style) !important;
    --wf-border-bottom-width: revert;
    border-bottom-width: var(--wf-border-bottom-width) !important;
    --wf-border-collapse: revert;
    border-collapse: var(--wf-border-collapse) !important;
    --wf-border-image-outset: revert;
    border-image-outset: var(--wf-border-image-outset) !important;
    --wf-border-image-repeat: revert;
    border-image-repeat: var(--wf-border-image-repeat) !important;
    --wf-border-image-slice: revert;
    border-image-slice: var(--wf-border-image-slice) !important;
    --wf-border-image-source: revert;
    border-image-source: var(--wf-border-image-source) !important;
    --wf-border-image-width: revert;
    border-image-width: var(--wf-border-image-width) !important;
    --wf-border-left-color: revert;
    border-left-color: var(--wf-border-left-color) !important;
    --wf-border-left-style: revert;
    border-left-style: var(--wf-border-left-style) !important;
    --wf-border-left-width: revert;
    border-left-width: var(--wf-border-left-width) !important;
    --wf-border-right-color: revert;
    border-right-color: var(--wf-border-right-color) !important;
    --wf-border-right-style: revert;
    border-right-style: var(--wf-border-right-style) !important;
    --wf-border-right-width: revert;
    border-right-width: var(--wf-border-right-width) !important;
    --wf-border-spacing: revert;
    border-spacing: var(--wf-border-spacing) !important;
    --wf-border-top-color: revert;
    border-top-color: var(--wf-border-top-color) !important;
    --wf-border-top-left-radius: revert;
    border-top-left-radius: var(--wf-border-top-left-radius) !important;
    --wf-border-top-right-radius: revert;
    border-top-right-radius: var(--wf-border-top-right-radius) !important;
    --wf-border-top-style: revert;
    border-top-style: var(--wf-border-top-style) !important;
    --wf-border-top-width: revert;
    border-top-width: var(--wf-border-top-width) !important;
    --wf-box-shadow: revert;
    box-shadow: var(--wf-box-shadow) !important;
    --wf-box-sizing: revert;
    box-sizing: var(--wf-box-sizing) !important;
    --wf-break-inside: revert;
    break-inside: var(--wf-break-inside) !important;
    --wf-color: revert;
    color: var(--wf-color) !important;
    --wf-column-count: revert;
    column-count: var(--wf-column-count) !important;
    --wf-column-gap: revert;
    column-gap: var(--wf-column-gap) !important;
    --wf-column-rule-color: revert;
    column-rule-color: var(--wf-column-rule-color) !important;
    --wf-column-rule-style: revert;
    column-rule-style: var(--wf-column-rule-style) !important;
    --wf-column-rule-width: revert;
    column-rule-width: var(--wf-column-rule-width) !important;
    --wf-column-width: revert;
    column-width: var(--wf-column-width) !important;
    --wf-content: revert;
    content: var(--wf-content) !important;
    --wf-cursor: revert;
    cursor: var(--wf-cursor) !important;
    --wf-display: revert;
    display: var(--wf-display) !important;
    --wf-filter: revert;
    filter: var(--wf-filter) !important;
    --wf-flex-direction: revert;
    flex-direction: var(--wf-flex-direction) !important;
    --wf-flex-wrap: revert;
    flex-wrap: var(--wf-flex-wrap) !important;
    --wf-float: revert;
    float: var(--wf-float) !important;
    --wf-font-display: revert;
    font-display: var(--wf-font-display) !important;
    --wf-font-family: revert;
    font-family: var(--wf-font-family) !important;
    --wf-font-feature-settings: revert;
    font-feature-settings: var(--wf-font-feature-settings) !important;
    --wf-font-kerning: revert;
    font-kerning: var(--wf-font-kerning) !important;
    --wf-font-language-override: revert;
    font-language-override: var(--wf-font-language-override) !important;
    --wf-font-optical-sizing: revert;
    font-optical-sizing: var(--wf-font-optical-sizing) !important;
    --wf-font-palette: revert;
    font-palette: var(--wf-font-palette) !important;
    --wf-font-size: revert;
    font-size: var(--wf-font-size) !important;
    --wf-font-size-adjust: revert;
    font-size-adjust: var(--wf-font-size-adjust) !important;
    --wf-font-stretch: revert;
    font-stretch: var(--wf-font-stretch) !important;
    --wf-font-style: revert;
    font-style: var(--wf-font-style) !important;
    --wf-font-synthesis-small-caps: revert;
    font-synthesis-small-caps: var(--wf-font-synthesis-small-caps) !important;
    --wf-font-synthesis-style: revert;
    font-synthesis-style: var(--wf-font-synthesis-style) !important;
    --wf-font-synthesis-weight: revert;
    font-synthesis-weight: var(--wf-font-synthesis-weight) !important;
    --wf-font-variant-alternates: revert;
    font-variant-alternates: var(--wf-font-variant-alternates) !important;
    --wf-font-variant-caps: revert;
    font-variant-caps: var(--wf-font-variant-caps) !important;
    --wf-font-variant-east-asian: revert;
    font-variant-east-asian: var(--wf-font-variant-east-asian) !important;
    --wf-font-variant-ligatures: revert;
    font-variant-ligatures: var(--wf-font-variant-ligatures) !important;
    --wf-font-variant-numeric: revert;
    font-variant-numeric: var(--wf-font-variant-numeric) !important;
    --wf-font-variant-position: revert;
    font-variant-position: var(--wf-font-variant-position) !important;
    --wf-font-variation-settings: revert;
    font-variation-settings: var(--wf-font-variation-settings) !important;
    --wf-font-weight: revert;
    font-weight: var(--wf-font-weight) !important;
    --wf-height: revert;
    height: var(--wf-height) !important;
    --wf-hljs-attribute: revert;
    hljs-attribute: var(--wf-hljs-attribute) !important;
    --wf-hljs-background: revert;
    hljs-background: var(--wf-hljs-background) !important;
    --wf-hljs-comment: revert;
    hljs-comment: var(--wf-hljs-comment) !important;
    --wf-hljs-keyword: revert;
    hljs-keyword: var(--wf-hljs-keyword) !important;
    --wf-hljs-string: revert;
    hljs-string: var(--wf-hljs-string) !important;
    --wf-hljs-text: revert;
    hljs-text: var(--wf-hljs-text) !important;
    --wf-hljs-title: revert;
    hljs-title: var(--wf-hljs-title) !important;
    --wf-hljs-type: revert;
    hljs-type: var(--wf-hljs-type) !important;
    --wf-justify-content: revert;
    justify-content: var(--wf-justify-content) !important;
    --wf-left: revert;
    left: var(--wf-left) !important;
    --wf-letter-spacing: revert;
    letter-spacing: var(--wf-letter-spacing) !important;
    --wf-line-height: revert;
    line-height: var(--wf-line-height) !important;
    --wf-list-style-image: revert;
    list-style-image: var(--wf-list-style-image) !important;
    --wf-list-style-position: revert;
    list-style-position: var(--wf-list-style-position) !important;
    --wf-list-style-type: revert;
    list-style-type: var(--wf-list-style-type) !important;
    --wf-margin-bottom: revert;
    margin-bottom: var(--wf-margin-bottom) !important;
    --wf-margin-left: revert;
    margin-left: var(--wf-margin-left) !important;
    --wf-margin-left: revert;
    margin-left: var(--wf-margin-left) !important;
    --wf-margin-right: revert;
    margin-right: var(--wf-margin-right) !important;
    --wf-margin-top: revert;
    margin-top: var(--wf-margin-top) !important;
    --wf-margin-trim: revert;
    margin-trim: var(--wf-margin-trim) !important;
    --wf-max-height: revert;
    max-height: var(--wf-max-height) !important;
    --wf-max-width: revert;
    max-width: var(--wf-max-width) !important;
    --wf-opacity: revert;
    opacity: var(--wf-opacity) !important;
    --wf-overflow-block: revert;
    overflow-block: var(--wf-overflow-block) !important;
    --wf-overflow-clip-margin: revert;
    overflow-clip-margin: var(--wf-overflow-clip-margin) !important;
    --wf-overflow-inline: revert;
    overflow-inline: var(--wf-overflow-inline) !important;
    --wf-overflow-wrap: revert;
    overflow-wrap: var(--wf-overflow-wrap) !important;
    --wf-overflow-x: revert;
    overflow-x: var(--wf-overflow-x) !important;
    --wf-overflow-y: revert;
    overflow-y: var(--wf-overflow-y) !important;
    --wf-padding-bottom: revert;
    padding-bottom: var(--wf-padding-bottom) !important;
    --wf-padding-left: revert;
    padding-left: var(--wf-padding-left) !important;
    --wf-padding-right: revert;
    padding-right: var(--wf-padding-right) !important;
    --wf-padding-top: revert;
    padding-top: var(--wf-padding-top) !important;
    --wf-position: revert;
    position: var(--wf-position) !important;
    --wf-tab-size: revert;
    tab-size: var(--wf-tab-size) !important;
    --wf-text-align: revert;
    text-align: var(--wf-text-align) !important;
    --wf-text-box-edge: revert;
    text-box-edge: var(--wf-text-box-edge) !important;
    --wf-text-box-trim: revert;
    text-box-trim: var(--wf-text-box-trim) !important;
    --wf-text-decoration-color: revert;
    text-decoration-color: var(--wf-text-decoration-color) !important;
    --wf-text-decoration-line: revert;
    text-decoration-line: var(--wf-text-decoration-line) !important;
    --wf-text-decoration-skip: revert;
    text-decoration-skip: var(--wf-text-decoration-skip) !important;
    --wf-text-decoration-skip-ink: revert;
    text-decoration-skip-ink: var(--wf-text-decoration-skip-ink) !important;
    --wf-text-decoration-style: revert;
    text-decoration-style: var(--wf-text-decoration-style) !important;
    --wf-text-decoration-style: revert;
    text-decoration-style: var(--wf-text-decoration-style) !important;
    --wf-text-decoration-thickness: revert;
    text-decoration-thickness: var(--wf-text-decoration-thickness) !important;
    --wf-text-rendering: revert;
    text-rendering: var(--wf-text-rendering) !important;
    --wf-text-size-adjust: revert;
    text-size-adjust: var(--wf-text-size-adjust) !important;
    --wf-text-underline-offset: revert;
    text-underline-offset: var(--wf-text-underline-offset) !important;
    --wf-text-underline-position: revert;
    text-underline-position: var(--wf-text-underline-position) !important;
    --wf-text-wrap-mode: revert;
    text-wrap-mode: var(--wf-text-wrap-mode) !important;
    --wf-text-wrap-style: revert;
    text-wrap-style: var(--wf-text-wrap-style) !important;
    --wf-top: revert;
    top: var(--wf-top) !important;
    --wf-transform: revert;
    transform: var(--wf-transform) !important;
    --wf-transition-behavior: revert;
    transition-behavior: var(--wf-transition-behavior) !important;
    --wf-transition-delay: revert;
    transition-delay: var(--wf-transition-delay) !important;
    --wf-transition-duration: revert;
    transition-duration: var(--wf-transition-duration) !important;
    --wf-transition-property: revert;
    transition-property: var(--wf-transition-property) !important;
    --wf-transition-timing-function: revert;
    transition-timing-function: var(--wf-transition-timing-function) !important;
    --wf-user-select: revert;
    user-select: var(--wf-user-select) !important;
    --wf-vertical-align: revert;
    vertical-align: var(--wf-vertical-align) !important;
    --wf-visibility: revert;
    visibility: var(--wf-visibility) !important;
    --wf-white-space-collapse: revert;
    white-space-collapse: var(--wf-white-space-collapse) !important;
    --wf-width: revert;
    width: var(--wf-width) !important;
}
