:root {
    /* Shadow CSS Custom Properties*/
    --wf--moz-osx-font-smoothing: revert;
    --wf--webkit-font-smoothing: revert;
    --wf-animation-delay: revert;
    --wf-animation-direction: revert;
    --wf-animation-duration: revert;
    --wf-animation-fill-mode: revert;
    --wf-animation-iteration-count: revert;
    --wf-animation-name: revert;
    --wf-animation-play-state: revert;
    --wf-animation-range-end: revert;
    --wf-animation-range-start: revert;
    --wf-animation-timeline: revert;
    --wf-animation-timing-function: revert;
    --wf-background-attachment: revert;
    --wf-background-blend-mode: revert;
    --wf-background-clip: revert;
    --wf-background-color: revert;
    --wf-background-image: revert;
    --wf-background-origin: revert;
    --wf-background-position-x: revert;
    --wf-background-position-y: revert;
    --wf-background-repeat-x: revert;
    --wf-background-repeat-y: revert;
    --wf-background-size: revert;
    --wf-border-bottom-color: revert;
    --wf-border-bottom-left-radius: revert;
    --wf-border-bottom-right-radius: revert;
    --wf-border-bottom-style: revert;
    --wf-border-bottom-width: revert;
    --wf-border-collapse: revert;
    --wf-border-image-outset: revert;
    --wf-border-image-repeat: revert;
    --wf-border-image-slice: revert;
    --wf-border-image-source: revert;
    --wf-border-image-width: revert;
    --wf-border-left-color: revert;
    --wf-border-left-style: revert;
    --wf-border-left-width: revert;
    --wf-border-right-color: revert;
    --wf-border-right-style: revert;
    --wf-border-right-width: revert;
    --wf-border-spacing: revert;
    --wf-border-top-color: revert;
    --wf-border-top-left-radius: revert;
    --wf-border-top-right-radius: revert;
    --wf-border-top-style: revert;
    --wf-border-top-width: revert;
    --wf-box-shadow: revert;
    --wf-box-sizing: revert;
    --wf-break-inside: revert;
    --wf-color: revert;
    --wf-column-count: revert;
    --wf-column-gap: revert;
    --wf-column-rule-color: revert;
    --wf-column-rule-style: revert;
    --wf-column-rule-width: revert;
    --wf-column-width: revert;
    --wf-content: revert;
    --wf-cursor: revert;
    --wf-display: revert;
    --wf-filter: revert;
    --wf-flex-direction: revert;
    --wf-flex-wrap: revert;
    --wf-float: revert;
    --wf-font-display: revert;
    --wf-font-family: revert;
    --wf-font-feature-settings: revert;
    --wf-font-kerning: revert;
    --wf-font-language-override: revert;
    --wf-font-optical-sizing: revert;
    --wf-font-palette: revert;
    --wf-font-size: revert;
    --wf-font-size-adjust: revert;
    --wf-font-stretch: revert;
    --wf-font-style: revert;
    --wf-font-synthesis-small-caps: revert;
    --wf-font-synthesis-style: revert;
    --wf-font-synthesis-weight: revert;
    --wf-font-variant-alternates: revert;
    --wf-font-variant-caps: revert;
    --wf-font-variant-east-asian: revert;
    --wf-font-variant-ligatures: revert;
    --wf-font-variant-numeric: revert;
    --wf-font-variant-position: revert;
    --wf-font-variation-settings: revert;
    --wf-font-weight: revert;
    --wf-height: revert;
    --wf-hljs-attribute: revert;
    --wf-hljs-background: revert;
    --wf-hljs-comment: revert;
    --wf-hljs-keyword: revert;
    --wf-hljs-string: revert;
    --wf-hljs-text: revert;
    --wf-hljs-title: revert;
    --wf-hljs-type: revert;
    --wf-justify-content: revert;
    --wf-left: revert;
    --wf-letter-spacing: revert;
    --wf-line-height: revert;
    --wf-list-style-image: revert;
    --wf-list-style-position: revert;
    --wf-list-style-type: revert;
    --wf-margin-bottom: revert;
    --wf-margin-left: revert;
    --wf-margin-left: revert;
    --wf-margin-right: revert;
    --wf-margin-top: revert;
    --wf-margin-trim: revert;
    --wf-max-height: revert;
    --wf-max-width: revert;
    --wf-opacity: revert;
    --wf-overflow-block: revert;
    --wf-overflow-clip-margin: revert;
    --wf-overflow-inline: revert;
    --wf-overflow-wrap: revert;
    --wf-overflow-x: revert;
    --wf-overflow-y: revert;
    --wf-padding-bottom: revert;
    --wf-padding-left: revert;
    --wf-padding-right: revert;
    --wf-padding-top: revert;
    --wf-position: revert;
    --wf-tab-size: revert;
    --wf-text-align: revert;
    --wf-text-box-edge: revert;
    --wf-text-box-trim: revert;
    --wf-text-decoration-color: revert;
    --wf-text-decoration-line: revert;
    --wf-text-decoration-skip: revert;
    --wf-text-decoration-skip-ink: revert;
    --wf-text-decoration-style: revert;
    --wf-text-decoration-style: revert;
    --wf-text-decoration-thickness: revert;
    --wf-text-rendering: revert;
    --wf-text-size-adjust: revert;
    --wf-text-underline-offset: revert;
    --wf-text-underline-position: revert;
    --wf-text-wrap-mode: revert;
    --wf-text-wrap-style: revert;
    --wf-top: revert;
    --wf-transform: revert;
    --wf-transition-behavior: revert;
    --wf-transition-delay: revert;
    --wf-transition-duration: revert;
    --wf-transition-property: revert;
    --wf-transition-timing-function: revert;
    --wf-user-select: revert;
    --wf-vertical-align: revert;
    --wf-visibility: revert;
    --wf-white-space-collapse: revert;
    --wf-width: revert;
}

*,
::before,
::after {
    all: revert;
    -moz-osx-font-smoothing: var(--wf--moz-osx-font-smoothing);
    -webkit-font-smoothing: var(--wf--webkit-font-smoothing);
    animation-delay: var(--wf-animation-delay);
    animation-direction: var(--wf-animation-direction);
    animation-duration: var(--wf-animation-duration);
    animation-fill-mode: var(--wf-animation-fill-mode);
    animation-iteration-count: var(--wf-animation-iteration-count);
    animation-name: var(--wf-animation-name);
    animation-play-state: var(--wf-animation-play-state);
    animation-range-end: var(--wf-animation-range-end);
    animation-range-start: var(--wf-animation-range-start);
    animation-timeline: var(--wf-animation-timeline);
    animation-timing-function: var(--wf-animation-timing-function);
    background-attachment: var(--wf-background-attachment);
    background-blend-mode: var(--wf-background-blend-mode);
    background-clip: var(--wf-background-clip);
    background-color: var(--wf-background-color);
    background-image: var(--wf-background-image);
    background-origin: var(--wf-background-origin);
    background-position-x: var(--wf-background-position-x);
    background-position-y: var(--wf-background-position-y);
    background-repeat-x: var(--wf-background-repeat-x);
    background-repeat-y: var(--wf-background-repeat-y);
    background-size: var(--wf-background-size);
    border-bottom-color: var(--wf-border-bottom-color);
    border-bottom-left-radius: var(--wf-border-bottom-left-radius);
    border-bottom-right-radius: var(--wf-border-bottom-right-radius);
    border-bottom-style: var(--wf-border-bottom-style);
    border-bottom-width: var(--wf-border-bottom-width);
    border-collapse: var(--wf-border-collapse);
    border-image-outset: var(--wf-border-image-outset);
    border-image-repeat: var(--wf-border-image-repeat);
    border-image-slice: var(--wf-border-image-slice);
    border-image-source: var(--wf-border-image-source);
    border-image-width: var(--wf-border-image-width);
    border-left-color: var(--wf-border-left-color);
    border-left-style: var(--wf-border-left-style);
    border-left-width: var(--wf-border-left-width);
    border-right-color: var(--wf-border-right-color);
    border-right-style: var(--wf-border-right-style);
    border-right-width: var(--wf-border-right-width);
    border-spacing: var(--wf-border-spacing);
    border-top-color: var(--wf-border-top-color);
    border-top-left-radius: var(--wf-border-top-left-radius);
    border-top-right-radius: var(--wf-border-top-right-radius);
    border-top-style: var(--wf-border-top-style);
    border-top-width: var(--wf-border-top-width);
    box-shadow: var(--wf-box-shadow);
    box-sizing: var(--wf-box-sizing);
    break-inside: var(--wf-break-inside);
    color: var(--wf-color);
    column-count: var(--wf-column-count);
    column-gap: var(--wf-column-gap);
    column-rule-color: var(--wf-column-rule-color);
    column-rule-style: var(--wf-column-rule-style);
    column-rule-width: var(--wf-column-rule-width);
    column-width: var(--wf-column-width);
    content: var(--wf-content);
    cursor: var(--wf-cursor);
    display: var(--wf-display);
    filter: var(--wf-filter);
    flex-direction: var(--wf-flex-direction);
    flex-wrap: var(--wf-flex-wrap);
    float: var(--wf-float);
    font-display: var(--wf-font-display);
    font-family: var(--wf-font-family);
    font-feature-settings: var(--wf-font-feature-settings);
    font-kerning: var(--wf-font-kerning);
    font-language-override: var(--wf-font-language-override);
    font-optical-sizing: var(--wf-font-optical-sizing);
    font-palette: var(--wf-font-palette);
    font-size: var(--wf-font-size);
    font-size-adjust: var(--wf-font-size-adjust);
    font-stretch: var(--wf-font-stretch);
    font-style: var(--wf-font-style);
    font-synthesis-small-caps: var(--wf-font-synthesis-small-caps);
    font-synthesis-style: var(--wf-font-synthesis-style);
    font-synthesis-weight: var(--wf-font-synthesis-weight);
    font-variant-alternates: var(--wf-font-variant-alternates);
    font-variant-caps: var(--wf-font-variant-caps);
    font-variant-east-asian: var(--wf-font-variant-east-asian);
    font-variant-ligatures: var(--wf-font-variant-ligatures);
    font-variant-numeric: var(--wf-font-variant-numeric);
    font-variant-position: var(--wf-font-variant-position);
    font-variation-settings: var(--wf-font-variation-settings);
    font-weight: var(--wf-font-weight);
    height: var(--wf-height);
    hljs-attribute: var(--wf-hljs-attribute);
    hljs-background: var(--wf-hljs-background);
    hljs-comment: var(--wf-hljs-comment);
    hljs-keyword: var(--wf-hljs-keyword);
    hljs-string: var(--wf-hljs-string);
    hljs-text: var(--wf-hljs-text);
    hljs-title: var(--wf-hljs-title);
    hljs-type: var(--wf-hljs-type);
    justify-content: var(--wf-justify-content);
    left: var(--wf-left);
    letter-spacing: var(--wf-letter-spacing);
    line-height: var(--wf-line-height);
    list-style-image: var(--wf-list-style-image);
    list-style-position: var(--wf-list-style-position);
    list-style-type: var(--wf-list-style-type);
    margin-bottom: var(--wf-margin-bottom);
    margin-left: var(--wf-margin-left);
    margin-left: var(--wf-margin-left);
    margin-right: var(--wf-margin-right);
    margin-top: var(--wf-margin-top);
    margin-trim: var(--wf-margin-trim);
    max-height: var(--wf-max-height);
    max-width: var(--wf-max-width);
    opacity: var(--wf-opacity);
    overflow-block: var(--wf-overflow-block);
    overflow-clip-margin: var(--wf-overflow-clip-margin);
    overflow-inline: var(--wf-overflow-inline);
    overflow-wrap: var(--wf-overflow-wrap);
    overflow-x: var(--wf-overflow-x);
    overflow-y: var(--wf-overflow-y);
    padding-bottom: var(--wf-padding-bottom);
    padding-left: var(--wf-padding-left);
    padding-right: var(--wf-padding-right);
    padding-top: var(--wf-padding-top);
    position: var(--wf-position);
    tab-size: var(--wf-tab-size);
    text-align: var(--wf-text-align);
    text-box-edge: var(--wf-text-box-edge);
    text-box-trim: var(--wf-text-box-trim);
    text-decoration-color: var(--wf-text-decoration-color);
    text-decoration-line: var(--wf-text-decoration-line);
    text-decoration-skip: var(--wf-text-decoration-skip);
    text-decoration-skip-ink: var(--wf-text-decoration-skip-ink);
    text-decoration-style: var(--wf-text-decoration-style);
    text-decoration-thickness: var(--wf-text-decoration-thickness);
    text-rendering: var(--wf-text-rendering);
    text-size-adjust: var(--wf-text-size-adjust);
    text-underline-offset: var(--wf-text-underline-offset);
    text-underline-position: var(--wf-text-underline-position);
    text-wrap-mode: var(--wf-text-wrap-mode);
    text-wrap-style: var(--wf-text-wrap-style);
    top: var(--wf-top);
    transform: var(--wf-transform);
    transition-behavior: var(--wf-transition-behavior);
    transition-delay: var(--wf-transition-delay);
    transition-duration: var(--wf-transition-duration);
    transition-property: var(--wf-transition-property);
    transition-timing-function: var(--wf-transition-timing-function);
    user-select: var(--wf-user-select);
    vertical-align: var(--wf-vertical-align);
    visibility: var(--wf-visibility);
    white-space-collapse: var(--wf-white-space-collapse);
    width: var(--wf-width);
}
